BASE_URL='http://0.0.0.0:8000'

PRODUCTION=False
DATABASE_NAME="YOUR DATABASE NAME"
DATABASE_USER="YOUR DATABASE USER NAME"
DATABASE_PASSWORD="YOUR DATABASE USER PASSWORD"
DATABASE_HOST="DATABASE HOST"
DATABASE_PORT="DATABASE PORT"


EMAIL_HOST="MAIL HOST"
EMAIL_HOST_USER="HOST USER"
EMAIL_HOST_PASSWORD="HOST PASSWORD"
EMAIL_PORT="PORT"
MAIL_FROM_ADDRESS="FROM ADDRESS"
